@page
@model Mokyklu_IS.Pages.Tevai.IndexModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaikai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th></th>
            </tr>
                @foreach (var item in Model.Vaikai)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Vardas)</td>
                        <td>@Html.DisplayFor(m => item.Pavarde)</td>
                        <td>
                            <a asp-page="/Tevai/Vaikas" asp-route-ID="@item.Asmens_kodas" class="btn btn-primary m-1">Pasirinkti</a>
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>
