@page
@model Mokyklu_IS.Pages.Tevai.IndexModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaikai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th></th>
            </tr>
            <tr>
                <td>Vardenis</td>
                <td>Pavardenis</td>
                <td>
                    <button class="button1">Pasirinkti</button>
                </td>
            </tr>
        </table>
    </div>
</div>
