@page
@model Mokyklu_IS.Pages.Tevai.Kontaktai_MokytojuModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokytojų Kontaktai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Telefono-Nr</th>
            </tr>
            @foreach (var item in Model.Mokytojas)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Vardas)</td>
                    <td>@Html.DisplayFor(m => item.Pavarde)</td>
                    <td>@Html.DisplayFor(m => item.Telefono_nr)</td>
                </tr>
            }
        </table>
    </div>
</div>
