@page
@model Mokyklu_IS.Pages.Tevai.Kontaktai_MokytojuModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokytojų Kontaktai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Telefono Nr</th>
            </tr>
            <tr>
                <td>Vytautas</td>
                <td>Bepavardis</td>
                <td>112</td>
            </tr>
        </table>
    </div>
</div>
