@page
@model Mokyklu_IS.Pages.Tevai.PastabosModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaiko Pastabos</h3>
        <table id="customers">
            <tr>
                <th>Mokytojas</th>
                <th>Pastaba</th>
                <th>Data</th>
            </tr>
            <tr>
                <td>Vytautas</td>
                <td>Nepadare namu darbu. :)</td>
                <td>2021-11-2</td>
            </tr>
        </table>
    </div>
</div>
