@page
@model Mokyklu_IS.Pages.Tevai.PastabosModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaiko Pastabos</h3>
        <table id="customers">
            <tr>
                <th style="width:20%">Data</th>
                <th style="width:35%">Mokytojas</th>
                <th style="width:45%">Komentaras</th>
            </tr>
            @foreach (var item in Model.Ats)
            {
                <tr>
                    <td style="width:20%">@Html.DisplayFor(m => item.Data)</td>
                    <td style="width:45%">@Html.DisplayFor(m => item.MPavarde) @Html.DisplayFor(m => item.MVardas)</td>
                    <td style="width:35%">@Html.DisplayFor(m => item.Tekstas)</td>
                </tr>
            }
        </table>
    </div>
</div>
