@page
@model Mokyklu_IS.Pages.Tevai.SusirinkimaiModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Susirinkimai</h3>
        <table id="customers">
            Priežastis: @Model.Susirinkimas1.Priezastis
            <br>
            Data: @Model.Susirinkimas1.Data
            <br>
            Laikas: @Model.Susirinkimas1.Laikas
            <br>
            Kabinetas: @Model.Susirinkimas1.Kabinetas
            <br>
        </table>
    </div>
</div>
