@page
@model Mokyklu_IS.Pages.Tevai.SusirinkimaiModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Susirinkimai</h3>
        <table id="customers">
            <tr>
                <th>Priežastis</th>
                <th>Data</th>
                <th>Laikas</th>
                <th>Kabinetas</th>
            </tr>
            <tr>
                <td>Semestro Apžvalga</td>
                <td>2021-12-10</td>
                <td>18:00</td>
                <td>306</td>
            </tr>
        </table>
    </div>
</div>
