@page
@model Mokyklu_IS.Pages.Tevai.VidurkiaiModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaiko Vidurkiai</h3>
        <table id="customers">
            <tr>
                <th>Dalykas</th>
                <th>Vidurkis</th>
            </tr>
            <tr>
                <td>Matematika</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Lietuvių k.</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</div>
