@page
@model Mokyklu_IS.Pages.Mokytojas.IndexModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Klasės</h3>
        <table id="customers">
            <tr>
                <th>Klasė</th>
                <th></th>
            </tr>
            <tr>
                <td>5B</td>
                <td>
                    <form style="display: inline" asp-area="" asp-page="/Mokytojas/Klase" method="get">
                        <button class="registerbtn">Rinktis</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

