@page
@model Mokyklu_IS.Pages.Mokytojas.MokinysModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div class="text-center">
    <div class="container">
    <h1 class="display-4">Mokinys</h1>

    <a class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width: 90%; height: 50px; line-height: 35px" asp-area="" asp-page="/Mokytojas/Pazimys" asp-route-ID="@Model.ID" method="get">Pažymiai</a>

    <br><br>

    <a class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width: 90%; height: 50px; line-height: 35px" asp-area="" asp-page="/Mokytojas/Pastabos" asp-route-ID="@Model.ID" method="get">Pastabos</a>
    </div>
</div>