@page
@model Mokyklu_IS.Pages.Mokytojas.PastabosModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokinio Pastabos</h3>
        <table id="customers">
            <tr>
                <th>Pastaba</th>
                <th>Data</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Pastaba)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Tekstas)</td>
                    <td>@Html.DisplayFor(m => item.Data)</td>
                    <td>
                        <a asp-page="/Mokytojas/Pastabos_Edit" asp-route-id="@item.Id_Pastaba @Model.ID" class="btn btn-success btn-sm text-white">Redaguoti</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr>
    <h3 class="display-4">Įrašyti naują pastabą</h3>

    <div style="text-align:left" class="container">
        <form method="post">
            <label for="pastaba"><b>Pastaba</b></label><br>
            <textarea asp-for="Nauja.Tekstas" type="text" placeholder="Pastaba" required></textarea>

            <button type="submit" class="registerbtn">Įrašyti pastaba</button>
        </form>
    </div><br /><br />
</div>
