@page
@model Mokyklu_IS.Pages.Mokytojas.PastabosModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokinio Pastabos</h3>
        <table id="customers">
            <tr>
                <th>Pastaba</th>
                <th>Data</th>
                <th></th>
            </tr>
            <tr>
                <td>Mokinys nesiklauso pamokos</td>
                <td>2021-11-7</td>
                <td>
                <form style="display: inline" asp-area="" asp-page="/Mokytojas/Pastabos_Edit" method="get">
                        <button class="button1">Redag</button>
                </form>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <h3 class="display-4">Įrašyti naują pastabą</h3>

    <div style="text-align:left" class="container">

        <label for="pastaba"><b>Pastaba</b></label><br>
        <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>

        <button type="submit" class="registerbtn">Įrašyti pastaba</button>
    </div><br /><br />
</div>
