@page
@model Mokyklu_IS.Pages.Mokytojas.Pastabos_EditModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div>
    <div style="text-align:left" class="container">
        <form method="post">
            <input type="hidden" asp-for="Nauja.Id_Pastaba" />
            <label for="pastaba"><b>Pastaba</b></label><br>
            <textarea asp-for="Nauja.Tekstas" type="text" placeholder="Pastaba" required></textarea>

            <button type="submit" class="registerbtn">Redaguoti</button>
        </form>
    </div>
</div>
