@page
@model Mokyklu_IS.Pages.Mokytojas.Pazimys_EditModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div>
    <div style="text-align:left" class="container">
        <form method="post">
            <input type="hidden" asp-for="Pazimys.Id_Pazimys" />

            <label for="ivertis"><b>Įvertinimas</b></label><br>
            <input asp-for="Pazimys.Ivertis" type="text" required><br><br>

            <label for="uz_ka"><b>Už ka</b></label><br>
            <input asp-for="Pazimys.Vertinimo_priezastis" type="text" required><br><br>

            <label for="koment"><b>Komentaras</b></label><br>
            <input asp-for="Pazimys.Komentaras" type="text" required><br><br>

            <button type="submit" class="registerbtn">Redaguoti</button>
        </form>
    </div>
</div>