@page
@model Mokyklu_IS.Pages.Mokinys.atsiskaitymaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano Atsiskaitymai</h3>
        <hr>
        @foreach (var i in Model.Mokytojas)
        {
            <h4>@Html.DisplayFor(m => i.Dalykas.Pavadinimas)</h4>
            <table id="customers">
                <tr>
                    <th style="width:70%">Tema</th>
                    <th style="width:30%">Data</th>
                </tr>
                @foreach (var j in Model.Atsiskaitymas)
                {
                    @if (j.Mokytojas.Dalykas.Pavadinimas == i.Dalykas.Pavadinimas)
                    {
                        <tr>
                            <td style="width:35%">@Html.DisplayFor(m => j.Tema)</td>
                            <td style="width:20%">@Html.DisplayFor(m => j.Data.Year)-@Html.DisplayFor(m => j.Data.Month)-@Html.DisplayFor(m => j.Data.Day)</td>
                        </tr>
                    }
                }
            </table><br /><br />
        }
    </div>
</div>