@page
@model Mokyklu_IS.Pages.Mokinys.atsiskaitymaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano atsiskaitymai</h3>
        <hr>
        <h4 class="display-5">Lietuvių kalba</h4>
        <table id="customers">
            <tr>
                <th>Atsiskaitymo data</th>
                <th>Tema</th>
            </tr>
            <tr>
                <td>2020-12-15</td>
                <td>Rašinys</td>
            </tr>
            <tr>
                <td>2021-11-20</td>
                <td>Rašinys egzamino ruošimuisi</td>
            </tr>
        </table><br /><br />

        <h4 class="display-5">Matematika</h4>
        <table id="customers">
            <tr>
                <th>Atsiskaitymo data</th>
                <th>Tema</th>
            </tr>
            <tr>
                <td>2020-11-20</td>
                <td>Logaritmai</td>
            </tr>
            <tr>
                <td>2021-11-25</td>
                <td>Išvestinės</td>
            </tr>
        </table>
    </div>
</div>