@page
@model Mokyklu_IS.Pages.Mokinys.IndexModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}
<h1 style="text-align:center">Sveikas Prisijungęs, @Model.Mokinys.Vardas @Model.Mokinys.Pavarde</h1>