@page
@model Mokyklu_IS.Pages.Mokinys.mokytojaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano mokytojai</h3>
        @if (Model.Mokytojas.Count() > 0)
         {
            <table id="customers">
                <tr>
                    <th>Vardas Pavardė</th>
                    <th>Dalykas</th>
                </tr>
                @foreach (var item1 in Model.Destymas)
                 {
                       @foreach (var item in Model.Mokytojas)
                        {
                            if (item1.fk_Klase == Model.klaseId && item1.fk_Mokytojas == item.Asmens_kodas)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Vardas) @Html.DisplayFor(m => item.Pavarde)</td>
                                    @foreach (var i in Model.Dalykas)
                                     {
                                         @if (i.Id_Dalykas == item.fk_Dalykas)
                                          {
                                             <td>@Html.DisplayFor(m => i.Pavadinimas)</td>
                                          }
                                     }
                                </tr>
                            }
                        }
                 }
            </table><br /><br />
         }
    </div>
</div>