@page
@model Mokyklu_IS.Pages.Mokinys.mokytojaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano mokytojai</h3>
        <table id="customers">
            <tr>
                <th>Mokytojas</th>
                <th>Dalykas</th>
            </tr>
            <tr>
                <td>S. Petraitienė</td>
                <td>Matematika</td>
            </tr>
            <tr>
                <td>V. Barauskas</td>
                <td>Lietuvių k.</td>
            </tr>
        </table><br /><br />
    </div>
</div>