@page
@model Mokyklu_IS.Pages.Mokinys.pastabosModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano pastabos</h3>
        <table id="customers">
            <tr>
                <th>Data</th>
                <th>Mokytojas</th>
                <th>Komentaras</th>
            </tr>
            <tr>
                <td>2021-10-03</td>
                <td>S. Petraitienė</td>
                <td>Nesusikaupęs pamokos metu</td>
            </tr>
            <tr>
                <td>2021-09-12</td>
                <td>V. Barauskas</td>
                <td>Neatliko namų darbų</td>
            </tr>
        </table><br /><br />
    </div>
</div>