@page
@model Mokyklu_IS.Pages.Mokinys.pazymiaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano pažymiai</h3>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Pažymys</th>
                <th>Komentaras</th>
                <th>Data</th>
            </tr>
            <tr>
                <td>Matematika</td>
                <td>9</td>
                <td>Kontrolinis</td>
                <td>2021-10-15</td>
            </tr>
            <tr>
                <td>Lietuvių k.</td>
                <td>10</td>
                <td>Rašinėlis</td>
                <td>2021-10-08</td>
            </tr>
        </table><br /><br />
    </div>
</div>