@page
@model Mokyklu_IS.Pages.Mokinys.pazymiaiModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mano pažymiai</h3>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Pažymys</th>
                <th>Komentaras</th>
                <th>Priežastis</th>
            </tr>
            @foreach (var p in Model.Pazymys)
             {
                @foreach (var m in Model.Mokytojas)
                 {
                    @if (p.fk_Mokytojas == m.Asmens_kodas)
                     {
                        @foreach (var d in Model.Dalykas)
                         {
                            @if (m.fk_Dalykas == d.Id_Dalykas)
                             {
                                <tr>
                                    <td style="width:30%">@Html.DisplayFor(xd => d.Pavadinimas)</td>
                                    <td style="width:15%">@Html.DisplayFor(xd => p.Ivertis)</td>
                                    <td style="width:35%">@Html.DisplayFor(xddddddd => p.Komentaras)</td>
                                    <td style="width:20%">@Html.DisplayFor(pzdaKaipJuokinga => p.Vertinimo_priezastis)</td>
                                </tr>
                             }
                         }
                     }
                 }
             }
        </table><br /><br />
    </div>
</div>