@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sveiki, prisijunkite arba registruokites</h1>
    <form style="display: inline" asp-area="" asp-page="" method="get">
        <button class="registerbtn" >Prisijungimas</button>
    </form>
    <br><br>
    <form style="display: inline" asp-area="" asp-page="/Registration" method="get">
        <button class="registerbtn" >Registracija</button>
    </form>
</div>
