@page
@model Mokyklu_IS.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <form method="post">
        <div class="container">
            <h1>Registracija</h1>
            <p>Užpildykite registracijos formą</p>
            <hr>

            <label for="prisijungimo_vardas"><b>Prisijungimo Vardas</b></label><br>
            <input asp-for="Registracija.Prisijungimo_vardas" type="text" placeholder="Iveskite Prisijungimo Vardą" required><br><br>

            <label for="vardas"><b>Vardas</b></label><br>
            <input asp-for="Registracija.Vardas" type="text" placeholder="Iveskite Vardą" required><br><br>

            <label for="pavarde"><b>Pavardė</b></label><br>
            <input asp-for="Registracija.Pavarde" type="text" placeholder="Iveskite Pavardę" required><br><br>

            <label for="tel-nr"><b>Telefonas</b></label><br>
            <input asp-for="Registracija.Telefono_nr" type="text" placeholder="Iveskite Tel Numerį" required><br><br>

            <label for="asmens-kodas"><b>Asmens Kodas</b></label><br>
            <input asp-for="Registracija.Asmens_kodas" type="text" placeholder="Iveskite Asmanes Kodą" required><br><br>

            <label for="role"><b>Paskyros Tipas:</b></label><br>
            <select class="custom-select" style="width:200px;" name="role" id="role">
                <option value="Mokinys">Mokinys</option>
                <option value="Mokytojas">Mokytojas</option>
                <option value="Tevas">Tėvas</option>
            </select><br><br>

            <label for="psw"><b>Slaptažodis</b></label><br>
            <input asp-for="Registracija.Slaptazodis" type="password" placeholder="Iveskite Slaptažodį" required><br><br>

            <label for="psw-repeat"><b>Pakartokite slaptažodį</b></label><br>
            <input type="password" placeholder="Pakartokite slaptažodį" name="psw-repeat" id="psw-repeat" required><br><br>
            <hr>

            <button asp-page-handler="Patvirtinti" class="button1">Patvirtinti</button>
        </div>
    </form>
</div>
