@page
@model Mokyklu_IS.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <form action="">
        <div class="container">
            <h1>Registracija</h1>
            <p>Užpildykite registracijos formą</p>
            <hr>

            <label for="prisijungimo_vardas"><b>Prisijungimo Vardas</b></label><br>
            <input type="text" placeholder="Iveskite Prisijungimo Vardą" name="pris_vardas" id="pris_vardas" required><br><br>

            <label for="vardas"><b>Vardas</b></label><br>
            <input type="text" placeholder="Iveskite Vardą" name="vardas" id="vardas" required><br><br>

            <label for="pavarde"><b>Pavardė</b></label><br>
            <input type="text" placeholder="Iveskite Pavardę" name="pavarde" id="pavarde" required><br><br>

            <label for="tel-nr"><b>Telefonas</b></label><br>
            <input type="text" placeholder="Iveskite Tel Numerį" name="tel-nr" id="tel-nr" required><br><br>

            <label for="asmens-kodas"><b>Asmens Kodas</b></label><br>
            <input type="text" placeholder="Iveskite Asmanes Kodą" name="asmens_kodas" id="asmens_kodas" required><br><br>

            <label for="psw"><b>Slaptazodis</b></label><br>
            <input type="password" placeholder="Iveskite Slaptažodį" name="psw" id="psw" required><br><br>

            <label for="psw-repeat"><b>Pakartokite slaptažodį</b></label><br>
            <input type="password" placeholder="Pakartokite slaptažodį" name="psw-repeat" id="psw-repeat" required><br><br>
            <hr>

            <button type="submit" class="registerbtn">Registruotis</button>
        </div>
    </form>
</div>
