@page
@model Mokyklu_IS.Pages.Admin.KontaktaiModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Kontaktai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Tipas</th>
                <th>Telefono Nr</th>
            </tr>
            <tr>
                <td>Vardenis</td>
                <td>Pavardenis</td>
                <td>Mokinys</td>
                <td>86-42069</td>
            </tr>
        </table>
    </div>
</div>

