@page
@model Mokyklu_IS.Pages.Admin.Mokiniu_SarasasModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokytojai</h3>
        @if (Model.Mokytojas.Count() > 0)
        {
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th></th>
            </tr>
            @foreach(var item in Model.Mokytojas)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.Vardas)</td>
                <td>@Html.DisplayFor(m => item.Pavarde)</td>
                <td>
                    <a asp-page="/Admin/Mokiniu_Sarasas_Lentele" asp-route-ID="@item.Asmens_kodas" class="btn btn-primary m-1">Rodyti Mokinius</a>
                </td>
            </tr>
            }
        </table>
        }
        else
        {
            <p>Nėra Registruotų mokytojų duomenų bazėje</p>
        }
    </div>
</div>

