@page
@model Mokyklu_IS.Pages.Admin.Paskyra_RedagavimasModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
<div class="text-center">
    <form method="post">
        <input type="hidden" asp-for="Registracija.Id_Registracija" />
        <div class="container">
            <h1>Paskyros Redagavimas</h1>
            <hr>

            <label for="vardas"><b>Vardas</b></label><br>
            <input asp-for="Registracija.Vardas" type="text" placeholder="Iveskite Vardą" required><br><br>

            <label for="pavarde"><b>Pavardė</b></label><br>
            <input asp-for="Registracija.Pavarde" type="text" placeholder="Iveskite Pavardę" required><br><br>

            <label for="tel-nr"><b>Telefonas</b></label><br>
            <input asp-for="Registracija.Telefono_nr" type="text" placeholder="Iveskite Tel Numerį" required><br><br>

            <label for="asmens-kodas"><b>Asmens Kodas</b></label><br>
            <input asp-for="Registracija.Asmens_kodas" type="text" placeholder="Iveskite Asmanes Kodą" required><br><br>
            <hr>
   
            <div class="container">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div><br />

            <a asp-page="/Admin/PaskiruTvarkykle" class="btn btn-success form-control">Grįšti Atgal</a>
        </div>

</form>
</div>
