@page
@model Mokyklu_IS.Pages.Admin.PaskiruTvarkykleModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <div class="container">
        <h3 class="display-4">Paskyros Laukiancios Patvirtinimo</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Asmens Kodas</th>
                <th>Tipas</th>
                <th></th>
            </tr>
            <tr>
                <td>Vardenis</td>
                <td>Pavardenis</td>
                <td>66904201234</td>
                <td>Mokinys</td>
                <td>
                    <button class="button1">Patvirtinti</button>
                    <button class="button2">Atmesti</button>
                </td>
            </tr>
            <tr>
                <td>Vardenis2</td>
                <td>Pavardenis2</td>
                <td>66904201234</td>
                <td>Tevas</td>
                <td>
                    <button class="button1">Patvirtinti</button>
                    <button class="button2">Atmesti</button>
                </td>
            </tr>
        </table><br /><br />

        <h3 class="display-4">Visos Paskyros</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Asmens Kodas</th>
                <th>Tipas</th>
                <th></th>
            </tr>
            <tr>
                <td>Vardenis</td>
                <td>Pavardenis</td>
                <td>911112</td>
                <td>Mokytojas</td>
                <td>
                    <form style="display: inline" asp-area="" asp-page="/Admin/Paskyra_Redagavimas" method="get">
                        <button class="button1">Redaguoti</button> 
                    </form>
                    <button class="button2">Pašalinti</button>
                </td>
            </tr>
        </table>
    </div>
</div>
